<h1>Empanadas</h1>
<section>    
        <div class="card magic">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/almendrado.jpg" alt="Pizza de Muzzarella">
                </div>   
            </a>
        <div class="info-container">
            <h3>almendrado</h3>
            <strong>$600</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
        </div>
        <div class="card magic">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/bombones.jpg" alt="Pizza de jamón y morrón">
                </div>
            </a>    
        <div class="info-container">     
            <h3>Bombones</h3>
            <strong>$400</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
        </div>
        <div class="card magic">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/helado.jpg" alt="Pizza napolitana">
                </div>
            </a>
        <div class="info-container">    
            <h3>Helado</h3>
            <strong>$300</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
        </div>
</section>