<h1>Pizzas</h1>
<section>    
        <div class="card magic">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/muzzarella.jpg" alt="Pizza de Muzzarella">
                </div>   
            </a>
        <div class="info-container">
            <h3>Muzzarella</h3>
            <strong>$1200</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
        </div>
        <div class="card magic">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/jamonymorron.jpg" alt="Pizza de jamón y morrón">
                </div>
            </a>    
        <div class="info-container">     
            <h3>Jamón y morrón</h3>
            <strong>$1500</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
        </div>
        <div class="card magic">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/napolitana.jpg" alt="Pizza napolitana">
                </div>
            </a>
        <div class="info-container">    
            <h3>Napolitana</h3>
            <strong>$1400</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
        </div>
</section>