<header>
    <img class="logo" src="../assets/imagenes/logo.jpg" alt="Logo de Pizzería Don Rémolo">
    <nav>
        <ul class="nav_links">
            <li><a [routerLink]="['/']">Menu</a> <!--agrego routing--></li>
            <li><a [routerLink]="['/pizzas']">Pizzas</a> <!--agrego routing--></li>
            <li><a [routerLink]="['/empanadas']">Empanadas</a> <!--agrego routing--></li>
            <li><a [routerLink]="['/bebidas']">Bebidas</a> <!--agrego routing--></li>
            <li><a [routerLink]="['/postres']">Postres</a> <!--agrego routing--></li>
        </ul>
    </nav>
    <a href="#" class="cta"><button>Contactenos</button></a>
</header>