<h1>Bebidas</h1>
<section>    
        <div class="card magic" *ngFor="let product of listProducts">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/agua.jpg" alt="Botella de agua">
                </div>   
            </a>
            <div class="info-container">
                <h3>{{product.name}}</h3>
                <strong>{{product.price}}</strong>
                <a href="#" class="add-cart">Añadir al carrito</a>
            </div>
        </div>
        <!--<div class="card magic">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/cerveza.jpg" alt="Botella de agua">
                </div>
            </a>    
        <div class="info-container">     
            <h3>Cerveza SeñorITy</h3>
            <strong>$150</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
        </div>
        <div class="card magic">
            <a href="#">
                <div class="img-container">
                    <img src="../assets/imagenes/gaseosa.jpg" alt="Botella de agua">
                </div>
            </a>
        <div class="info-container">    
            <h3>Gaseosas línea Pepsi</h3>
            <strong>$100</strong>
            <a href="#" class="add-cart">Añadir al carrito</a>
        </div>
        </div>-->
</section>